spring:
  security:
    user:
     name: user
     password: password123
server:
  port: 8761
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://user:password123@localhost:8761/eureka
  server:
    enable-self-preservation: false #关闭自我保护
    eviction-interval-timer-in-ms: 6000 #清理间隔（单位毫秒，默认是60*1000）

  instance:
      hostname: localhost
      lease-expiration-duration-in-seconds: 30 #服务过期时间配置,超过这个时间没有接收到心跳EurekaServer就会将这个实例剔除
      lease-renewal-interval-in-seconds: 10 #服务刷新时间配置，每隔这个时间会主动心跳一次
      prefer-ip-address: true
logging:
    level:
      root:  ERROR
      org.springframework:  ERROR

